body{
    width: 50%;
    max-width: 500px;
    max-height: 500px;
    padding: 5px;
    margin: 0 auto;
}
.lastResult{
    color: aliceblue;
    padding: 3px;
}
.but_format{
    padding: 10px;
    color: #66da39;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.but_format > button{
    padding: 10px;
    border-radius: 10%;
    background-color: burlywood;
    border:5px solid wheat;
    color: black;
    text-align: center;
}
.but_format > button:hover{
    padding: 10px;
    border-radius: 10%;
    background-color:burlywood;
    border:5px solid rgb(209, 255, 5);
    color: black;
    text-align: center;
}
.but_format > button:active{
    padding: 10px;
    border-radius: 10%;
    background-color:rgb(238, 255, 0);
    border:5px solid rgb(238, 255, 0);
    color: black;
    text-align: center;
}
header{
    background-color: aqua;
    text-align: center;
}
.scan{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(186, 255, 255);
    color: black;
    text-align: right;
    border: 10px solid rgb(105, 105, 105);
    width: auto;
    height: 200px;
}
.scan > p{
    display: grid;
    font-size: 30px;
    grid-template-columns: 1fr;
    background-color: rgb(186, 255, 255);
    color: black;
    text-align: right;
    border: 0px;
    width: auto;
    height: 40px;
    padding: 5px;
}